<div class="container mt-5">

  <h2 class="mb-5"><%= @list.name %></h2>

  <div class="cards">
    <% @list.movies.each do |movie| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
      <%= movie.title %>
    </div>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <%= bookmark.comment %>
    <%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
    <% end %>
 </div>
</div>
